@(companies: Seq[Company], form: Form[CompanyForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Companies") {

<h1>Companies</h1>

@* Flash shows updates to a page *@
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}

<table>
    <thead>
    <tr><th>Name</th><th>Address</th>
    </thead>
    <tbody>
    @for(w <- companies) {
    <tr><td>@w.name</td><td>@w.address</td></tr>
    }
    </tbody>
</table>

<hr/>

@* Global errors are not tied to any particular form field *@
@if(form.hasGlobalErrors) {
@form.globalErrors.map { error: FormError =>
<div>
    @error.key: @error.message
</div>
}
}

@helper.form(postUrl) {
@helper.CSRF.formField

@helper.inputText(form("name"))

@helper.inputText(form("address"))

<button>Create Company</button>
}
}