@(companies: Seq[Company], companyForm: Form[CompanyForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

@main("Companies") {

<h1>Companies</h1>

@* Flash shows updates to a page *@
@request.flash.data.map{ case (name, value) =>
<div>@name: @value</div>
}

<table>
    <thead>
    <tr><th>Id</th><th>Name</th><th>Address</th>
    </thead>
    <tbody>
    @for(w <- companies) {
    <tr><td>@w.id</td><td>@w.name</td><td>@w.address</td>
        <td>@helper.form(routes.CompanyController.editCompany(w.id)) {
            @helper.CSRF.formField
            <input type="submit" value="Edit">
            }
        </td>
        <td>@helper.form(routes.CompanyController.delCompany(w.id)) {
                @helper.CSRF.formField
                <input type="submit" value="Delete">
            }
        </td>
    </tr>
    }
    </tbody>
</table>

<p>

    @companyForm("name").value
</p>

<hr/>

@* Global errors are not tied to any particular form field *@
@if(companyForm.hasGlobalErrors) {
@companyForm.globalErrors.map { error: FormError =>
<div>
    @error.key: @error.message
</div>
}
}

@helper.form(postUrl) {
@helper.CSRF.formField

<input type="hidden" name="id" value='@companyForm("id").value' >
@helper.inputText(companyForm("name"))
@helper.inputText(companyForm("address"))

<button>Create Company</button>
}
}